numpy>=1.18.5,<1.24.0
opencv-python>=4.1.1
matplotlib>=3.2.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.41.0
protobuf<4.21.3

# PyTorch (CUDA 11.8 기준)
torch>=1.7.0,!=1.12.0
torchvision>=0.8.1,!=0.13.0

# Visualization & Logging
tensorboard>=2.4.1
pandas>=1.1.4
seaborn>=0.11.0

# Tracking (DeepSORT)
filterpy
scikit-learn==1.3.2
scikit-image
lap==0.4.0
norfair==1.0.0

# Pose Estimation (Mediapipe)
mediapipe==0.10.3

# Utility (Optional)
joblib
